html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button[type='submit'].link {
  background: none;
  border: none;
  color: #e74c3c;
}

button[type='submit'].link:hover {
  background: none;
  border: none;
  color: #c44133;
}

a.card.card-body, a:hover {
  text-decoration: none;
}

i.bi-bag {
  font-size: 2em;
}

.nav-link.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-link.cart span {
  position: absolute;
  top: 43%;
}